.side-bar
  .user-name
    .top-items
      .top-items__top-name masa
      .top-items__top-icons 
        = link_to "#", class: "icon-btn" do
          = icon( 'fas', 'edit', class: 'icon')
          %span<>
          = icon( 'fas', 'cog', class: 'icon')
  .group-list
    .group
      .group__name techcamp
      .group__message まだメッセージがありません


    .group
      .group__name tech
      .group__message メッセージがありません
