.side-bar
  .user-name
    .top-items
      .top-name masa
      .top-icons 
        = link_to "#", class: "icon-btn" do
          = icon( 'fas', 'edit', class: 'icon')
          %span<>
          = icon( 'fas', 'cog', class: 'icon')
  .group-list
    .group
      .group-name techcamp
      .group-message まだメッセージがありません


    .group
      .group-name tech
      .group-message メッセージがありません
